<%= form_for(@tourney) do |f| %>
  <% if @tourney.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tourney.errors.count, "error") %> prohibited this tourney from being saved:</h2>

      <ul>
      <% @tourney.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :points_win %><br>
    <%= f.number_field :points_win %>
  </div>
  <div class="field">
    <%= f.label :points_tie %><br>
    <%= f.number_field :points_tie %>
  </div>
  <div class="field">
    <%= f.label :points_bye %><br>
    <%= f.number_field :points_bye %>
  </div>
<!--   <div id="entrant_name" style="display: none;">
    <%= f.label 'Entrant Names' %><br>
    <%= f.text_area :entrant_names %>
  </div>
  <div id="entrant_email" style="display: none;">
    <%= f.label 'Entrant Emails' %><br>
    <%= f.text_area :entrant_emails %>
  </div>
 -->  
  <table id="players_and_entrants">
    <tr>
      <td><%= f.label 'Players in Database' %></td>
      <td></td>
      <td><%= f.label 'Tournament Entrants' %></td>
    </tr>
    <tr>
      <td>
        <select multiple size="10" name="Players" id="Players" style="width:150">
        <% if @players_remaining.present? %>
          <% @players_remaining.each do |player| %>
            <option value="<%= player.name %>"><%= player.name %></option>
          <% end %>
        <% end %>
        </select>
      </td>
      <td align="center" valign="middle">
        <input type="button" class="moveToEntrant" value="->"><br />
        <input type="button" class="moveFromEntrant" value="<-">
      </td>
      <td>
        <% if @entrants.present? %>
          <%= f.select(:entrant_names, @entrants.collect {|p| [ p.name ] }, 
                                           { }, 
                                           { multiple: true, size: 10, width: 150 }) %>
        <% else %>
          <%= f.select(:entrant_names, [], 
                                           { }, 
                                           { multiple: true, size: 10, width: 150 }) %>
        <% end %>
      </td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit class: "select_before_submit"%>
  </div>
<% end %>
