<head>
   <meta charset="utf-8">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
   <!-- Javascript -->
</head>
<h1>Tourney Brackets</h1>

<div class="player_names" id="player_area">
  <% round = 0 %>
  <% while round <= @max_round do%>
    <% i = 0 %>
    <h2>Round <%=round%></h2>
    <% @matches.select {|match| match.round == round}.each do |match| %>
      <!-- <section id= "match_<%=match.player1_name%>_<%=match.player2_name%>" data-match= "<%= i %>"> -->
        <div id = "drag_<%=round%>" class = "draggable ui-widget-content" data-playername= "<%= match.player1_name %>" data-matchid = "<%= match.id %>">
          <p><%= match.player1_name %></p>
        </div>
        <div id = "drop_<%=round%>" class = "droppable ui-widget-content" data-playername= "<%= match.player1_name %>" data-matchid = "<%= match.id %>">
          <p>Swap destination</p>
        </div>
        vs
        <div id = "drag_<%=round%>" class = "draggable ui-widget-content" data-playername= "<%= match.player2_name %>" data-matchid = "<%= match.id %>">
          <p> <%= match.player2_name %> </label>
        </div>
        <div id = "drop_<%=round%>" class = "droppable ui-widget-content" data-playername= "<%= match.player2_name %>" data-matchid = "<%= match.id %>">
          <p>Swap destination</p>
        </div>
        <br>
      <input type=text id= "score_<%=match.player1_name%>_<%=match.player2_name%>" value=
        "<% if match.player1_score + match.player2_score + match.ties > 0 %>
  <%=match.player1_score%> - <%=match.player2_score%><% end %><% if match.ties > 0 %>  (<%=match.ties%>)
        <% end %>" readonly
        >
      <br>
      <!-- </section> -->
        <a href="#" class="editMatchButton"
          id="editMatch"
          data-player1name="<%= match.player1_name%>"
          data-player2name="<%= match.player2_name%>"
          data-player1wins="<%= match.player1_score%>"
          data-player2wins="<%= match.player2_score%>"
          data-ties="<%= match.ties%>"
          data-round="<%= match.round %>">
          Edit Match Results</a>
        <br>
        <br>
        <% i += 1 %>
    <% end %>
    <% round += 1 %>
  <% end %>
  <% if @bye_player %>
    <label for="<%= @bye_player.name %>"> <%= @bye_player.name %> </label>
    bye
    <br>
    <br>
  <% end %>
</div>

<div id="nextRoundButton">
  <a href=<%=brackets_next_tourney_path%> >Generate Next Round</a>
</div>

<div id="AJAX_Results">
</div>


<div class="popup" id= "Edit_scores" style="display: none;">
  <%= form_tag(record_match_path(0), method: :post, remote: true) do %>
  <div class="field">
    <%= label_tag :player1 %><br>
    <input type=text name="player1_name" id="player1_name"
      >
  </div>
  <div class="field">
    <%= label_tag :player2 %><br>
    <input type=text name="player2_name" id="player2_name"
      >
  </div>
  <div class="field">
    <%= label_tag :player1_wins %><br>
    <input type=number name="player1_score" id="player1_wins"
      >
  </div>
  <div class="field">
    <%= label_tag :player2_wins %><br>
    <input type=number name="player2_score" id="player2_wins"
      >
  </div>
  <div class="field">
    <%= label_tag :ties %><br>
    <input type=number name="ties" id="ties"
      >
  </div>
  <input type=number name="tourney_id" id="tourneyid" value= <%=@tourney.id%>
    style="display: none;" >
  <input type=number name="round" id="round"
    style="display: none;" >

  <div class="actions">
    <%= submit_tag "Record Match Results" %>
    <%= button_tag "Cancel",:type => 'button',:class => "cancelEdit" %>
  </div>
  <% end %>
</div>


<%= content_tag "div", id: "entrants", data: {pairs: @pairs, scores: @scores } do end %>
<%= content_tag "div", id: "paths", data: {swap: swap_matches_path } do end %>
<%= link_to 'Show', @tourney %> |
<%= link_to 'Back', tourneys_path %>
