<h1>Tourney Brackets</h1>

<div class="player_names" id="player_area">
  <% round = 0 %>
  <% while round <= @max_round do%>
    <% i = 0 %>
    <h2>Round <%=round%></h2>
    <div id= "round_matches" class = "matchups">
    <% @matches.select {|match| match.round == round}.each do |match| %>
      <div id= "match_<%=match.player1_name%>_<%=match.player2_name%>" data-match= "<%= i %>" class = "side-by-side ui-widget-content">
        <section class="static-div">
        <% if logged_in? && !match.bye %>
          <div id = "player1_<%=match.id%>" class = "left-div draggable droppable ui-widget-content" data-playername= "<%= match.player1_name %>" data-matchid = "<%= match.id %>" data-round = "<%= match.round%>">
        <% else %>
          <div id = "player1_<%=match.id%>" class = "left-div " draggable="false" data-playername= "<%= match.player1_name %>" data-matchid = "<%= match.id %>" data-round = "<%= match.round%>">
        <% end %>
            <%= match.player1_name %>
          </div>
          <div id = "mid_<%=match.id%>" class="middle-div">
          <% if match.bye %>
            bye
          <% else %>
            vs
          <% end %>
        </div>
        <% if logged_in? && !match.bye %>
          <div id = "player2_<%=match.id%>" class = "right-div draggable droppable ui-widget-content" data-playername= "<%= match.player2_name %>" data-matchid = "<%= match.id %>" data-round = "<%= match.round%>">
        <% else %>
          <div id = "player2_<%=match.id%>" class = "right-div" data-playername= "<%= match.player2_name %>" data-matchid = "<%= match.id %>" data-round = "<%= match.round%>">
        <% end %>
          <% if match.bye %>
            --
          <% else %>
            <%= match.player2_name %> 
          <% end %>
          </div>
        </section>
        <section class = "scores">
        <% if not logged_in? %>
          <div id= "score_<%=match.id%>" draggable="false" > 
            <%=match.player1_score%> - <%=match.player2_score%>  (<%=match.ties%>)
          </div>
        <% elsif match.player1_score + match.player2_score + match.ties > 0 %>
          <div id= "score_<%=match.id%>" draggable="false" class="editMatchButton" title="Edit Match Scores"
          data-player1name="<%= match.player1_name%>"
          data-player2name="<%= match.player2_name%>"
          data-player1wins="<%= match.player1_score%>"
          data-player2wins="<%= match.player2_score%>"
          data-ties="<%= match.ties%>"
          data-round="<%= match.round %>"
          data-matchid="<%= match.id %>">
            <%=match.player1_score%> - <%=match.player2_score%>  (<%=match.ties%>) -- click to edit
          </div>
        <% else %>
          <div id= "score_<%=match.id%>" draggable="false" class="editMatchButton" title="Edit Match Scores"
          data-player1name="<%= match.player1_name%>"
          data-player2name="<%= match.player2_name%>"
          data-player1wins="<%= match.player1_score%>"
          data-player2wins="<%= match.player2_score%>"
          data-ties="<%= match.ties%>"
          data-round="<%= match.round %>"
          data-matchid="<%= match.id %>">
            click to edit
          </div>
        <% end %>
        </section>
      </div>
      <% i += 1 %>
    <% end %>
    </div>
    <div class="matchups"> </div>
    <% round += 1 %>
  <% end %>
</div>

<div class = "matchups"> </div>
<div id="nextRoundButton">
  <a href=<%=brackets_next_tourney_path%> >Generate Next Round</a>
</div>

<div id="AJAX_Results">
</div>


<div id= "Edit_scores" class ="dialog">
  <form>
  <p class="validateTips">All form fields are required.</p>
  <div class="field">
    <label id="player1_name"> wins</label>
    <input type=number name="player1_score" id="player1_wins">
  </div>
  <div class="field">
    <label id="player2_name"> wins</label>
    <input type=number name="player2_score" id="player2_wins">
  </div>
  <div class="field">
    <%= label_tag :ties %><br>
    <input type=number name="ties" id="ties">
  </div>
  <input type=number name="tourney_id" id="tourneyid" value= <%=@tourney.id%>
    style="display: none;" >
  <input type=number name="round" id="round" style="display: none;" >
  <input type=number name="match_id" id="match_id" style="display: none;" >

      <button  class ="submitScores">Submit</button>
    <%= button_tag "Cancel",:type => 'button',:class => "closeEdit" %>
    </form>
</div>


<%= content_tag "div", id: "entrants", data: {pairs: @pairs, scores: @scores } do end %>
<%= content_tag "div", id: "paths", data: {swap: swap_matches_path , record: record_match_path} do end %>
<%= link_to 'Show', @tourney %> |
<%= link_to 'Back', tourneys_path %>
