<h1>Tourney Brackets</h1>

<div class="player_names" id="player_area">
  <% i = 0 %>
  <% round = 0 %>
  <% while round < @max_round do %>
    <% @matches.select {|match| match.round = round}.each do |match| %>
      <section id= "match_<%=match.player1_name%>_<%=match.player2_name%>" data-match= "<%= i %>">
        <label for="<%= match.player1_name %>"> <%= match.player1_name %> </label>
        vs
        <label for="<%= match.player2_name %>"> <%= match.player2_name %> </label>
        <br>
      </section>
      <input type=text id= "score_<%=match.player1_name%>_<%=match.player2_name%>" value=
        "<% if match.player1_score + match.player2_score + match.ties > 0 %>
  <%=match.player1_score%> - <%=match.player2_score%><% end %><% if match.ties > 0 %>  (<%=match.ties%>) 
        <% end %>" readonly
        >
      <br>
      </section>
        <a href="#" class="editMatchButton"
          id="editMatch"
          data-player1name="<%= match.player1_name%>"
          data-player2name="<%= match.player2_name%>"
          data-player1wins="<%= match.player1_score%>"
          data-player2wins="<%= match.player2_score%>"
          data-ties="<%= match.ties%>"
          data-round="<%= match.round %>">
          Edit Match Results</a>
      <br>
      <br>
      <% i += 1 %>
    <% end %>
  <% end %>
</div>

<div id="nextRoundButton">
  <%= form_tag(brackets_tourney_path(round+1), method: :post, remote: true) do %>
  <div class="actions">
    <%= submit_tag "Generate Next Round" %>
  </div>
  <% end %>
</div>

<div id="AJAX_Results">
</div>


<div class="popup" id= "Edit_scores" style="display: none;">
  <%= form_tag(record_match_path(0), method: :post, remote: true) do %>
  <div class="field">
    <%= label_tag :player1 %><br>
    <input type=text name="player1_name" id="player1_name"
      >
  </div>
  <div class="field">
    <%= label_tag :player2 %><br>
    <input type=text name="player2_name" id="player2_name"
      >
  </div>
  <div class="field">
    <%= label_tag :player1_wins %><br>
    <input type=number name="player1_score" id="player1_wins"
      >
  </div>
  <div class="field">
    <%= label_tag :player2_wins %><br>
    <input type=number name="player2_score" id="player2_wins"
      >
  </div>
  <div class="field">
    <%= label_tag :ties %><br>
    <input type=number name="ties" id="ties"
      >
  </div>
  <input type=number name="tourney_id" id="tourneyid" value= <%=@tourney.id%>
    style="display: none;" >
  <input type=number name="round" id="round" 
    style="display: none;" >

  <div class="actions">
    <%= submit_tag "Record Match Results" %>
    <%= button_tag "Cancel",:type => 'button',:class => "cancelEdit" %>  
  </div>
  <% end %>
</div>


<%= content_tag "div", id: "entrants", data: {pairs: @pairs, scores: @scores } do end %>
<%= link_to 'Show', @tourney %> |
<%= link_to 'Back', tourneys_path %>
