<h1>Tourney Brackets</h1>
  <% round = 0 %>
  <% while round <= @max_round do%>
    <% i = 0 %>
    <div> 
      <br>
      <h2>Round <%=round%></h2>
    </div>
    <div id= "round_matches<%=i%>" class = "round">
    <% @matches.select {|match| match.round == round}.each do |match| %>
      <div id= "match_<%=match.player1_name%>_<%=match.player2_name%>" data-match= "<%= i %>" class = "matchup side-by-side ui-widget-content static-div">
        <% if logged_in_as_tourney_admin?(@tourney) %>
          <div id = "player1_<%=match.id%>" class = "left-div draggable droppable ui-widget-content player" data-playername= "<%= match.player1_name %>" data-matchid = "<%= match.id %>" data-round = "<%= match.round%>">
        <% else %>
          <div id = "player1_<%=match.id%>" class = "left-div2 player" data-playername= "<%= match.player1_name %>" data-matchid = "<%= match.id %>" data-round = "<%= match.round%>">
        <% end %>
            <%= match.player1_name %>
          </div>
        <% if logged_in_as_tourney_admin?(@tourney) && !match.bye %>
          <div id = "mid_<%=match.id%>" class="middle-div">
          vs
          </div>          
        <% elsif logged_in_as_tourney_admin?(@tourney) %>
           bye        
        <% elsif !match.bye%>
          vs   
        <% else %>
          bye  
        <% end %>
        <% if logged_in_as_tourney_admin?(@tourney) && !match.bye %>
          <div id = "player2_<%=match.id%>" class = "right-div draggable droppable ui-widget-content player" data-playername= "<%= match.player2_name %>" data-matchid = "<%= match.id %>" data-round = "<%= match.round%>">
            <%= match.player2_name %>
          </div>
        <% elsif !match.bye %>
          <%= match.player2_name %>
        <% end %>
        <% if not logged_in_as_tourney_admin?(@tourney) %>
          <div id= "score_<%=match.id%>" draggable="false" > 
            <%=match.player1_score%> - <%=match.player2_score%>  (<%=match.ties%>)
          </div>
        <% else %>
          <div id= "score_<%=match.id%>" draggable="false"  class="editMatchButton match-score" title="Edit Match Scores"
            data-player1name="<%= match.player1_name%>"
            data-player2name="<%= match.player2_name%>"
            data-player1wins="<%= match.player1_score%>"
            data-player2wins="<%= match.player2_score%>"
            data-ties="<%= match.ties%>"
            data-round="<%= match.round %>"
            data-matchid="<%= match.id %>">
            <% if match.player1_score + match.player2_score + match.ties > 0 %>
              <%=match.player1_score%> - <%=match.player2_score%>  (<%=match.ties%>) -- click to edit
            <% elsif !match.bye %>
              click to edit
            <% end %>
          </div>
        <% end %>
      </div>
      <% i += 1 %>
    <% end %>
    </div>
    <% round += 1 %>
  <% end %>

<div id="nextRoundButton" class="vertical-divider">
  <br>
  <a href=<%=brackets_next_tourney_path%> >Generate Next Round</a>
</div>

<div id="AJAX_Results">
</div>


<div id= "Edit_scores" class ="dialog">
  <form>
  <p class="validateTips">All form fields are required.</p>
  <div class="field">
    <label id="player1_name"> wins</label>
    <input type=number name="player1_score" id="player1_wins">
  </div>
  <div class="field">
    <label id="player2_name"> wins</label>
    <input type=number name="player2_score" id="player2_wins">
  </div>
  <div class="field">
    <%= label_tag :ties %><br>
    <input type=number name="ties" id="ties">
  </div>
  <input type=number name="tourney_id" id="tourneyid" value= <%=@tourney.id%>
    style="display: none;" >
  <input type=number name="round" id="round" style="display: none;" >
  <input type=number name="match_id" id="match_id" style="display: none;" >

      <button  class ="submitScores">Submit</button>
    <%= button_tag "Cancel",:type => 'button',:class => "closeEdit" %>
    </form>
</div>


<%= content_tag "div", id: "entrants", data: {pairs: @pairs, scores: @scores } do end %>
<%= content_tag "div", id: "paths", data: {swap: swap_matches_path , record: record_match_path} do end %>
<%= link_to 'Show', @tourney %> |
<%= link_to 'Back', tourneys_path %>
