<head>
   <meta charset="utf-8">
   <title>jQuery UI Autocomplete functionality</title>
   <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
   <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
   <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   <!-- Javascript -->

</head>
<h1>Editing Tourney</h1>

<%= render 'form_super' %>
<div class = "player-preview">
<%= content_tag "div", id: "players",  data: {name: @players_remaining_names, email: @players_remaining_emails, list: @players_remaining } do end %>
<%= content_tag "div", id: "entrants",  data: {name: @entrant_name_list, email: @entrant_email_list} do end %>
</div>
<%= content_tag "div", id: "newplayerlink", data: {link: new_player_path} do end %>
<%= link_to 'Show', @tourney %> |
<%= link_to 'Back', tourneys_path %>
