<head>
   <meta charset="utf-8">
   <title>jQuery UI Autocomplete functionality</title>
   <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
   <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
   <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   <!-- Javascript -->
   <script>
      $(function() {
        $( "#automplete-1" ).autocomplete({
           source: $('#players').data('name')
        });
      });
   </script>
   <script>
  $(document).on ('ready page:load', function() {
    var entrantNames = $('#entrants').data('name');
    var entrantEmails = $('#entrants').data('email');
     $('#tourney_entrant_names').val(entrantNames);
     $('#tourney_entrant_emails').val(entrantEmails);

      $("#addButton").click(function (e) {
        e.preventDefault();
        var name = $('#automplete-1').val();
        var position = $.inArray(name, $('#players').data('name'));
        var hostAddress= top.location.host.toString();
        if (position >= 0) {
          // find the corresponding email, add it to the list.
          var players = $('#players').data('list');
          var email = players[position].email;
          $("#new_player").hide();
          entrantNames += name + "\r\n";
          entrantEmails += email + "\r\n";
          $('#tourney_entrant_names').val(entrantNames);
          $('#tourney_entrant_emails').val(entrantEmails);
        } else {
          // var url = "http://" + hostAddress + $('#newplayerlink').data('link');
          // $(location).attr('href',url);
          $("#new_player").show();
          $('#player_name').val(name);
          $('#player_email').val('');
        }
      });
      $("#create_button").click(function (e) {
        e.preventDefault();
        var name = $('#player_name').val();
        var email = $('#player_email').val();
        entrantNames += name + "\r\n";
        entrantEmails += email + "\r\n";
        $("#tourney_entrant_names").val(entrantNames) ;
        $("#tourney_entrant_emails").val(entrantEmails) ;
        $("#new_player").hide();
        $('#entrants').data('name').add(selectedVal);
        $('#entrants').data('email').add(email);
     });
      $("#cancel_button").click(function (e) {
        e.preventDefault();
        $("#new_player").hide();
      });
    });
    </script>

</head>
<h1>Editing Tourney</h1>

<%= render 'form_super' %>

<%= content_tag "div", id: "players", data: {name: @players_remaining_names, email: @players_remaining_emails, list: @players_remaining } do %>
<% end %>
<%= content_tag "div", id: "entrants", data: {name: @entrant_names, email: @entrant_emails} do end %>
<%= content_tag "div", id: "newplayerlink", data: {link: new_player_path} do end %>
<%= link_to 'Show', @tourney %> |
<%= link_to 'Back', tourneys_path %>
