<p id="notice"><%= notice %></p>

<h1>Listing Tourneys</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tourneys.each do |tourney| %>
      <tr>
        <td><%= tourney.name %></td>
        <td><%= tourney.date %></td>
        <td><%= tourney.location %></td>
        <td><%= link_to 'Show', tourney if current_user%></td>
        <td><%= link_to 'Edit', edit_tourney_path(tourney) if current_user && (current_user.id == tourney.user_id || current_user.admin?) %></td>
        <td><%= link_to 'Destroy', tourney, method: :delete, data: { confirm: 'Are you sure?' } if current_user &&  (current_user.id == tourney.user_id || current_user.admin?) %></td>
        <td><%= link_to 'Brackets', brackets_tourney_path(tourney) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tourney', new_tourney_path if current_user %>
