<head>
   <meta charset="utf-8">
   <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
   <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
   <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
   <!-- Javascript -->
   <script>
      $(function() {
        $( "#autocomplete-1" ).autocomplete({
           source: $('#players').data('name')
        });
      });
   </script>

</head>
<h1>New Tourney</h1>

<%= render 'form_super' %>
<div id="new_player" style="display: none;">
    <p>Player Name: <input type="text" id="player_name" /></p>
    <p>Player Email: <input type="text" id="player_email" /></p>
    <button id="create_button">Create and Enter</button>
    <button id="cancel_button">Cancel</button>
</div>
<div class = "player-preview">
<%= content_tag "div", id: "players", data: {name: @players_remaining_names, email: @players_remaining_emails, list: @players_remaining } do end %>
<%= content_tag "div", id: "entrants", data: {name: @entrant_names, email: @entrant_emails, list: @entrant_name_list, list: @entrants} do end %>
</div>
<%= content_tag "div", id: "newplayerlink", data: {link: new_player_path} do end %>
<%= link_to 'Back', tourneys_path %>
