<h1>Tourney Standings</h1>
<div class="player_names" id="player_area">
  <% i = 0 %>
  <table>
  	<tr>
  <td>name</td>
  <td>wins</td>
  <td>losses</td>
  <td>ties</td>
  <td># matches</td>
  <td>points</td>
  <td>opponents' match win pct</td>
  <td>game win pct</td>
  <td>opponents' game win pct</td>
  </tr>
  	<br>
  <% @player_standings.each do |entrant| %>
  <tr>
  <td><%=entrant[:name]%></td>
  <td><%=entrant[:wins]%></td>
  <td><%=entrant[:losses]%></td>
  <td><%=entrant[:ties]%></td>
  <td><%=entrant[:total_matches]%></td>
  <td><%=entrant[:match_points]%></td>
  <td><%=entrant[:opponents_match_pct]%></td>
  <td><%=entrant[:player_game_pct]%></td>
  <td><%=entrant[:opponents_game_pct]%></td>
  </tr>
  <%end%>
</table>


<%= link_to 'Show', @tourney %> |
<%= link_to 'Back', tourneys_path %>
