<h1>Listing Matches for Tourney <%=@tourney%></h1>

<table>
  <thead>
    <tr>
      <th>Player1</th>
      <th>Player2</th>
      <th>Round</th>
      <th>Player1 score</th>
      <th>Player2 score</th>
      <th>Ties</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match.player1_name %></td>
        <td><%= match.player2_name %></td>
        <td><%= match.round %></td>
        <td><%= match.player1_score %></td>
        <td><%= match.player2_score %></td>
        <td><%= match.ties %></td>
        <td><%= link_to 'Show1', match.player1_name %></td>
        <td><%= link_to 'Show2', match.player2_name %></td>
        <td><%= link_to 'Edit', edit_match_path(match) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Match', new_match_path %>
